*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    height: 90vh;
    width: 400px;
    background-color: #f3f3f3;
    border: 1px solid #d3d3d3;
}

.welcome-page{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-bottom: 30px;
}