*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    height: 90vh;
    width: 400px;
    background-color: #fafafa;
    border: 1px solid #d3d3d3;
    padding: 30px;
    position: relative;
}

.welcome-page{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: end;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-bottom: 50px;
}

#text{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.btn{
    width: 100%;
    background-color: #6C25FF;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-text{
    width: 70%;
}

.heading{
    color: #1D2226;
    font-size: 2rem;
}

.para{
    color: #3c4044;
    font-size: 18px;
}

.secondry{
    background-color: #6C25FF4B;
    color: #1D2226;
}

.login-page{
    height: 90vh;
    display: flex;
    justify-content: center;
}

.login-form{
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box label {
  position: absolute;
  top: -8px;
  left: 14px;
  background: #f8f8f8;
  padding: 0 6px;
  font-size: 14px;
  font-weight: 500;
  color: #6c2bd9; /* Purple label */
}

.input-box label span{
    color: red;
}

.input-box input {
  width: 100%;
  padding: 14px 12px;
  background-color: #fafafa;
  border: 1.5px solid #d1d1d1;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.input-box input::placeholder {
  color: #b0b0b0;
}

.input-box input:focus {
  border-color: #6c2bd9;
}

.login{
    width: 100%;
    background-color: #CBCBCB;
    color: #fff;
}

.radio-group p {
  font-size: 14px;
  margin-bottom: 8px;
}

.radio-group span {
  color: red;
}

.radio-options {
  display: flex;
  gap: 20px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
}

.radio input {
  display: none;
}

.custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  position: relative;
}

.radio input:checked + .custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #6c2bd9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
}

.radio input:checked + .custom-radio {
  border-color: #6c2bd9;
}

.register-page{
    position: relative;
    width: 100%;
}

.create-acc-btn{
    width: 100%;
    position: absolute;
    bottom: 7%;
}


nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-back{
    position: absolute;
    left: 20px;
    font-size: 30px;
}

.profile{
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-photo{
    position: relative;
    display: flex;
    align-items: center;
}

.profile-photo img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.camera-icon{
    color: #fff;
    background-color: #6C25FF;
    width: fit-content;
    padding:6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 90px;
    top: 80px;
}

.desc{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}